!!!
%html
  %head
  %link(rel="stylesheet" href="css/style.css")
  %title The Order of the Pixel
  %body
    %a{href: "https://github.com/TrueniTo/order-of-the-pixel/"}
      %img{alt: "What's this about?", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", style: "position: absolute; top: 0; right: 0; border: 0;"}/